@import '../../styles/constants.scss';

.catalog-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 $paddingPhone 50px;
  width: calc(100% - $paddingPhone * 2);
  max-width: $maxWidth;

  &__main {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .catalog-page {
    padding: 0 0 100px;

    &__main {
      justify-content: space-between;
      gap: 108px;
    }
  }
}
