@import '../../../styles/constants.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 290px;
  margin-top: 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 290px;

    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }

    &-button {
      width: 32px;
      height: 32px;
      background-color: $colorOrangeTransparent;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &-icon {
        transform: rotateZ(-90deg);

        &_rotate {
          transform: rotateZ(90deg);
        }
      }
    }
  }

  &__filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__filter-button {
    border-radius: 0;
    padding: 0;
    width: auto;
    height: auto;
    background-color: $colorWhite;

    &:hover {
      background-color: $colorWhite;
      transition: none;
    }

    &_active {
      font-weight: 700;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__show {
    width: 169px;
    height: 59px;
  }

  &__delete {
    width: 59px;
    height: 59px;
    border-radius: 50%;
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .sidebar {
    max-width: 238px;
    margin: 0;

    &__filter-button {
      transition: text-shadow linear 0.2s;

      &:hover {
        text-shadow: $colorGrey 1px 0 3px;
        transition: text-shadow linear 0.2s;
      }
    }

    &__buttons {
      margin: 10px 0 25px;
    }
  }
}
