$colorBlack: #111111;
$colorBlackTransparent: rgb(18, 18, 18, 0.5);
$colorDarkBlue: #3f4e65;
$colorDarkBlueTransparent: rgb(63, 78, 101, 0.1);
$colorDarkBlueTransparent2: rgb(63, 78, 101, 0.3);
$colorDarkBlueTransparent3: rgb(63, 78, 101, 0.5);
$colorLightOrange: #ffc85e;
$colorOrangeTransparent: rgb(255, 202, 101, 0.3);
$colorWhite: #ffffff;
$colorGrey: #5c6370;
$colorGreyTransparent: rgb(92, 99, 112, 0.6);
$colorLightGrey: #ededed;
$colorGreen: #1fd85d;

$paddingPhone: 15px;

$maxWidth: 1370px;
$headerTopSectionHeight: 60px;
$headerBottomSectionHeight: 107px;

$breakpointDesktop: 1450px;
