@import '../../../../styles/constants.scss';

.sidebar-manufacturer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  &__search {
    &-form {
      width: 270px;
      height: 39px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-input {
      width: 10px;
      height: 10px;
      cursor: pointer;

      &-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &-label {
        cursor: pointer;
        color: $colorDarkBlue;

        &-amount {
          font-weight: 400;
          font-size: 10px;
          line-height: 150%;
          color: $colorDarkBlue;
        }
      }
    }
  }

  &__show-all {
    align-self: start;
    align-items: center;
    background-color: $colorWhite;
    gap: 5px;

    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 150%;
      color: $colorDarkBlue;
    }

    &-icon {
      &_rotate {
        transform: rotateX(180deg);
      }
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  sidebar-manufacturer {
    &__search {
      &-form {
        width: 218px;

        &-input {
          width: 140px;
        }
      }
    }

    &__show-all {
      transition: text-shadow linear 0.2s;

      &:hover {
        background-color: $colorWhite;
        text-shadow: $colorGrey 1px 0 3px;
        transition: text-shadow linear 0.2s;
      }
    }

    &__form {
      &-input {
        &-label {
          transition: text-shadow linear 0.2s;

          &:hover {
            text-shadow: $colorGrey 1px 0 3px;
            transition: text-shadow linear 0.2s;
          }
        }
      }
    }
  }
}
