@import '../../styles/constants.scss';

.card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 0 $paddingPhone 50px;
  width: calc(100% - $paddingPhone * 2);
  max-width: $maxWidth;
  flex-grow: 1;

  &__image {
    width: 256px;
    height: 179px;
    object-fit: contain;
  }

  &__info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__presence {
    margin: 0;
    font-weight: 500;
    line-height: 130%;
    color: $colorGreen;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    &-name {
      font-weight: 400;
    }
    &-brand {
      font-weight: 800;
    }
  }

  &__dimension {
    display: flex;
    margin: 0;
    gap: 5px;
  }

  &__buy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 27px;
    row-gap: 20px;
  }

  &__price {
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
  }

  &__counter {
    display: flex;
    align-items: center;
    gap: 19px;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    &-text {
      font-weight: 500;
      line-height: 130%;
      color: $colorDarkBlue;
    }

    &-button {
      padding: 0;
      border: none;
      width: 34px;
      height: 23px;
      background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
      border-radius: 1000px;
      cursor: pointer;
    }
  }

  &__to-basket {
    width: 184px;
    height: 59px;
    gap: 12px;

    &-title {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__share-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 59px;
    height: 59px;
    border: none;
    background: #ffffff;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    cursor: pointer;
  }

  &__text {
    margin: 0;
    width: 100%;
    max-width: calc(316px - 22.5px * 2);
    text-align: center;
    padding: 20.5px 22.5px;
    background: #ffffff;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: $colorDarkBlue;
  }

  &__button {
    width: 100%;
    max-width: 290px;
    height: 77px;
    gap: 10px;
    background: #ffffff;
    box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
    cursor: pointer;

    &-title {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      text-align: center;
      color: #3f4e65;
    }

    &-icon {
      & path {
        fill: $colorBlack;
      }
    }
  }

  &__card-info {
    padding: 25px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    &_specification {
      padding: 5px 0 0;
    }
  }

  &__card-text {
    margin: 0;
    font-weight: 300;
    color: $colorDarkBlue;

    &-bold {
      font-weight: 500;
      color: $colorBlack;
    }
  }

  &__description {
    margin: 0;
    padding-top: 5px;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    max-width: 611px;
    color: $colorDarkBlue;
  }

  &__description-button {
    align-self: start;
    align-items: center;
    background-color: $colorWhite;
    gap: 5px;

    &-title {
      margin: 0;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: $colorBlack;
    }
  }

  &__specification-button {
    position: relative;
    margin-top: 30px;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 0;
      width: 270px;
      border-bottom: 1px dashed #3f4e65;
      opacity: 0.3;
    }
  }

  &__rotate {
    transform: rotateX(180deg);
  }
}

@media screen and (min-width: 715px) {
  .card-page {
    &__image {
      width: 400px;
      height: auto;
    }

    &__info {
      align-items: center;
    }

    &__links {
      justify-content: center;
      width: 100%;
    }

    &__description-button {
      align-self: center;
    }

    &__specification-button {
      &:before {
        left: -50%;
      }
    }
  }
}

@media screen and (min-width: $breakpointDesktop) {
  .card-page {
    flex-direction: row;
    align-items: start;
    gap: 40px;
    padding-bottom: 60px;

    &__image {
      width: 664px;
    }

    &__info {
      align-items: start;
      padding-top: 35px;
    }

    &__buy {
      padding: 5px 0 10px;
      gap: 40px;
    }

    &__links {
      justify-content: start;
    }

    &__share-button {
      width: 77px;
      height: 77px;
      transition: background-color linear 0.2s;

      &:hover {
        background-color: $colorGreen;
        transition: background-color linear 0.2s;
      }
    }

    &__text {
      max-width: calc(316px - 35.5px * 2);
      padding: 20.5px 35.5px;
    }

    &__button {
      max-width: 186px;
    }

    &__description-button {
      align-self: start;

      &:hover {
        background-color: $colorWhite;
        transition: none;

        .card-page__description-button-title {
          text-shadow: $colorGrey 1px 0 3px;
          transition: text-shadow linear 0.2s;
        }
      }

      &-title {
        transition: text-shadow linear 0.2s;
      }
    }

    &__specification-button {
      &:before {
        left: 0;
      }
    }
  }
}
